@media (min-width: 330px) and (max-width: 480px) {
  :root {
    --greyColor: rgb(163, 162, 162);
    --blueColor: rgb(31, 0, 154);
    --backGrndColor: rgb(231, 231, 231);
  }

  .coloum1-mob {
    display: flex;
    padding: 18px 13px;
    width: 100%;
    font-size: 3.3vh;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    z-index: 999;

    background-color: rgb(255, 255, 255);
  }

  .coloum1-mob i:hover {
    cursor: pointer;
    background-color: var(--blueColor);
    color: white;
    padding: 3px;
    border-radius: 3px;
    transition: 0.2s ease-in;
  }

  .main {
    display: none;
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
  }
  .mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 4vh;
    gap: 5vh;
  }

  /*coloum2 section*/

  .coloum2-mob {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 5vh;
    width: 100%;
  }
  .notification-mob {
    display: flex;
    font-size: 2.8vh;
    justify-content: flex-end;
  }

  .coloum2-mob h1 {
    font-size: 5vh;
  }
  .coloum2-mob h3 {
    font-size: 3.4vh;
  }
  .coloum2-mob h4 {
    font-size: 2vw;
    color: var(--greyColor);
    font-weight: 400;
  }
  .transaction-mob {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 2px var(--greyColor) solid;
  }
  .colm2-bot-mob h2 {
    font-size: 1.8vh;
    color: var(--greyColor);
  }
  .colm2-bot-mob h3 {
    font-size: 2vh;
  }
  .colm2-mid-mob button {
    background-color: var(--blueColor);
    border: 1px var(--blueColor);
    padding: 10px 0px;
    width: 100%;
    color: white;
    font-size: 2vh;
    border-radius: 5px;
  }
  .colm2-top-mob {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .colm2-top-left-mob img {
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    object-fit: contain;
  }
  .colm2-top-right-mob {
    display: flex;
    flex-direction: column;
  }
  .colm2-top-right-mob h1 {
    font-size: 3.2vh;
  }
  .colm2-mid-mob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    border-radius: 20px;

    background-color: var(--backGrndColor);
    padding: 40px;
  }
  .colm2-mid-mob h4 {
    font-size: 1.5vh;
  }
  .colm2-subMid-mob {
    width: 25vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .colm2-bot-mob {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5vh;
    align-self: center;
    width: 100%;
    border-radius: 20px;
    background-color: var(--backGrndColor);
  }

  /*coloum3 section*/
  .coloum3-mob {
    width: 100%;

    display: flex;
    gap: 5vh;
    flex-direction: column;
  }
  .colm3Div1-mob {
    display: flex;
    flex-direction: column;
  }
  .colm3Div1-mob h4 {
    color: var(--blueColor);
    font-size: 2.4vh;
  }
  .colm3Div1-mob h3 {
    font-size: 3vh;
  }
  .colm3div2Sub-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .colm3Div2-mob-mob {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .money-mob {
    padding: 1vh;
    gap: 5px;
    border-bottom: 1.5px var(--blueColor) solid;
    display: flex;
    flex-direction: column;
  }
  .colm3Div2-mob h3 {
    font-size: 3vh;
  }
  .colm3Div2-mob h5 {
    font-size: 1.6vh;
    color: var(--greyColor);
  }

  .colm3Div3-mob {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .colm3Div3-mob h3 {
    font-size: 3vh;
  }

  .colm3Div4-mob {
    display: flex;

    flex-direction: column;
    gap: 5vh;
  }
  .colm3Div4-mob h3 {
    font-size: 2.5vh;
  }
  .colm3Div4-mob h5 {
    font-size: 1.8vh;
    color: var(--greyColor);
  }
  .colm3Div4Botm-mob {
    display: flex;
    flex-direction: column;
  }
  .colm3Div4Left-mob {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .colm3Div4Right-mob {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }
  .colm3Div4Left-mob .dtls-mob {
    font-size: 2.2vh;
    border-bottom: 1px var(--greyColor) solid;
  }
  .colm3Div4Left-mob .dtls-mob span {
    font-weight: 700;
    padding-right: 2vh;
  }

  /*Colm 4*/

  .coloum4-mob {
    height: 100%;
    margin-bottom: 60px;
    border-radius: 20px;
    width: 110%;
    padding: 3vh;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    background-color: var(--backGrndColor);
  }
  .colm4box-mob {
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    gap: 10px;
    flex-direction: column;
  }
  .colm4box-mob h3 {
    font-size: 3vh;
  }
  .scrollBar-mob {
    display: flex;
    flex-direction: column;
  }
  .scrollBar-mob h4 {
    font-size: 2.2vh;
  }
  .PercentageBar-mob {
    height: 40px;
  }
  .EmpPct-mob h3 {
    font-size: 2.4vh;
  }
  .EmpPct-mob {
    display: flex;
    padding: 1vh 0vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .colm4box-mob button {
    background-color: var(--blueColor);
    color: white;
    padding: 2vh 0vw;
    border-radius: 10px;
    border: 0px solid;
    font-size: 2.4vh;
  }
  .colm4box-mob h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blueColor);
  }
  .colm4box-mob a {
    text-decoration: none;
  }
}
