@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --greyColor: rgb(163, 162, 162);
  --blueColor: rgb(31, 0, 154);
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
}
/*coloum1 section*/
.coloum1 {
  color: var(--greyColor);
  background-color: white;

  width: 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vw;
  padding: 10px 0px;
}
.colm-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.colm-top img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
}
.colm-mid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
}
.colm-bot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coloum1 i {
  padding: 2px;
}
.coloum1 i:hover {
  transition: 0.2s ease-in;
  border-radius: 8px;
  text-shadow: 3px 3px 5px black;
  cursor: pointer;
  color: white;

  background-color: var(--blueColor);
}

/*coloum2 section*/
.coloum2 {
  width: 30vw;
  background-color: rgb(231, 231, 231);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-between;
}
.coloum2 h1 {
  font-size: 2.5vw;
}
.coloum2 h3 {
  font-size: 1.7vw;
}
.coloum2 h4 {
  font-size: 1vw;
  color: var(--greyColor);
  font-weight: 400;
}
.transaction {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px;
  border-bottom: 2px var(--greyColor) solid;
}
.colm2-bot h2 {
  font-size: 1vw;
  color: var(--greyColor);
}
.colm2-bot h3 {
  font-size: 1.2vw;
}
.colm2-mid button {
  background-color: var(--blueColor);
  border: 1px var(--blueColor);
  padding: 8px 25px;
  color: white;
  font-size: 1vw;
  border-radius: 5px;
}
.colm2-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.colm2-top-left img {
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
  object-fit: contain;
}
.colm2-top-right {
  display: flex;
  flex-direction: column;
}
.colm2-mid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.colm2-bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*coloum3 section*/
.coloum3 {
  width: 40vw;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw 5vw;
}
.colm3Div1 {
  display: flex;
  flex-direction: column;
}
.colm3Div1 h4 {
  color: var(--blueColor);
  font-size: 1.2vw;
}
.colm3Div1 h3 {
  font-size: 1.5vw;
}

.colm3Div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.colm3Div2 .money {
  border-bottom: 1.5px var(--blueColor) solid;
  padding: 10px 0px;
  display: flex;
  width: 8vw;
  flex-direction: column;
  gap: 2px;
}
.colm3Div2 h3 {
  font-size: 1.5vw;
}
.colm3Div2 h5 {
  font-size: 0.8vw;
  color: var(--greyColor);
}

.colm3Div3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.colm3Div3 h3 {
  font-size: 1.5vw;
}

.colm3Div4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.colm3Div4 h3 {
  font-size: 1.5vw;
}
.colm3Div4 h5 {
  font-size: 0.9vw;
  color: var(--greyColor);
}
.colm3Div4Left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.colm3Div4Left .dtls {
  font-size: 1.1vw;
  border-bottom: 1px var(--greyColor) solid;
  padding: 8px 0px;
}
.colm3Div4Left .dtls span {
  font-weight: 700;
}

/*coloum4 section*/
.coloum4 {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  
  padding: 5vh 3vw;
  height: 100vh;
}
.colm4box {
  justify-content: space-between;
  padding: 2vh 2vw;
  background-color: rgb(231, 231, 231);
  display: flex;
  border-radius: 5px;
  gap: 10px;
  flex-direction: column;
}
.colm4box h3 {
  font-size: 1.7vw;
}
.scrollBar {
  display: flex;
  flex-direction: column;
}
.scrollBar h4 {
  font-size: 1.2vw;
}
.PercentageBar {
  height: 40px;
  width: 100%;
}
.EmpPct h3 {
  font-size: 1.2vw;
}
.EmpPct {
  display: flex;
  padding: 1vh 0vw;
  flex-direction: row;
  justify-content: space-between;
}
.colm4box button {
  background-color: var(--blueColor);
  color: white;
  padding: 2vh 0vw;
  border-radius: 10px;
  border: 0px solid;
  font-size: 1.2vw;
}
.colm4box h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blueColor);
  
}
.colm4box a{
  text-decoration: none;

}
.colmBot{
 
  border-left: 1.5px var(--blueColor) solid;
  
  padding: 2vh 2vw;
}
.colmBot h4{
  font-size: 1.5vw;
  color: rgb(101, 99, 99);
  font-size: 400;
}
.colmBot h6{
  color: var(--greyColor);
  
}
.colmBot span{
  color: black;
  font-size: 1.5vw;
}
.colmBot a{
  text-decoration: none;
  font-size: 0.9vw;
}
